{% extends 'base.html.twig' %}

{% block javascripts %}

    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $("#help").remove();
        });
    </script>

{% endblock %}

{% block title %}Список изменений{% endblock %}

{% block body %}

    <main>


        <div class="row"><div class="col">
            <div class="card bg-primary text-white">
              <div class="card-body">
                <h5 class="card-title">v.1.0.1</h5>
                <h6 class="card-subtitle mb-2">Дата: 13.09.2019</h6>
                <div class="card-text" style="font-size:1.2em;">
                    <ul class="mb-0">
                        <li>Добавлена временная блокировка пользователей по количеству неудачных попыток входа.</li>
                        <li><strong>Locator</strong>: скорость загрузки значительно возрасла, добавлено поле с выводом MAC-адресов на порту.</li>
                        <li>Исправлено боковое и верхнее меню на маленьких разрешениях.</li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}<li>Создан метод для добавления полей к таблицам по типу той, что в блоке "<em>Инфо</em>".</li>{% endif %}
                        <li>Добавлена индикация полей "<em>RX-ретрансмиты</em>" и "<em>TX-ретрансмиты</em>"</li>
                        <li>Исправлена некорректная индикация поля "Учетные записи".</li>
                        <li>При отсутствии контактного номера теперь отображается соответствующее сообщение.</li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}<li>В логах запросов добавлено поле "<em>IP клиента</em>".</li>{% endif %}
                    </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">v.1.0.0</h5>
                <h6 class="card-subtitle mb-2 text-muted">Дата: 30.08.2019</h6>
                <div class="card-text" style="font-size:1.2em;">
                    <ul class="mb-0">
                        <li>Релизная версия.</li>
                        <li>Возможность поиска абонентов по номеру договора, окато(:порт), логину, ФИО и контактному номеру.</li>
                        <li>Параллельная подгрузка данных с Биллинга, QoE, Zabbix'а, Locator'а и ACS.</li>
                        <li>Авторизация через биллинг.</li>
                    </ul>
                </div>
              </div>
            </div>
        </div></div>
    </main>

{% endblock %}
