{% set searchConfig = {
    num_contract: num_contract,
    report_path: path('client_log_add'),
    billingData: abonent|default(null)|json_encode|raw,
    ajaxImage: asset('build/images/ajax-loader.gif'),
    ajaxBilling: path('ajax_billing'),
    ajaxBillingAddPhone: path('ajax_billing_add_phone'),
    ajaxBillingSessions: path("ajax_billing_sessions"),
    ajaxBillingActiveSession: path("ajax_billing_active_session"),
    ajaxZabbix: path('ajax_zabbix'),
    ajaxLocator: path('ajax_locator'),
    ajaxQoe: path('ajax_qoe'),
    ajaxCacti: path('ajax_cacti'),
    ajaxBitrixTasks: path('ajax_bitrix_tasks'),
    ajaxBitrixTaskCreate: path('ajax_bitrix_task_create'),
    ajaxComments: path('ajax_comments'),
    ajaxCommentAdd: path('ajax_comment_add'),
    ajaxCommentRemove: path('ajax_comment_remove'),
    ajaxCommentEdit: path('ajax_comment_edit'),
    ajaxAcs: path('ajax_acs'),
    ajaxAcsTaskCheck: path('acs_ajax_taskCheck'),
    ajaxAcsPings: path('ajax_acs_pings'),
    ajaxAcsPingTaskCreate: path('acs_ajax_pingTaskCreate'),
    ajaxAcsTraceTaskCreate: path('acs_ajax_traceTaskCreate'),
    ajaxAcsSpeedTaskCreate: path('acs_ajax_speedTaskCreate'),
    consoleGranted: is_granted('ROLE_SUPER_ADMIN'),
} %}

<div style="display: none;" id="searchConfig" data-config='{{ searchConfig|json_encode|replace({"'":"&#39;"})|raw }}'></div>
