<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    <!-- Required meta tags always come first -->
        <meta charset="utf-8">

        <style>
            .bubble-main{position:absolute;width:300px;box-shadow:0 12px 30px 0 rgba(0,0,0,.5);z-index:1050;background:#fff;box-sizing:border-box;border-radius:6px}.d-flex-not-important{display:flex}.bubble-td-cursor{cursor:pointer}.bubble-input-add-icon,.bubble-input-delete-icon{cursor:pointer}.bubble-input-add-icon:hover,.bubble-input-delete-icon:hover{transform:scale(1.1)}.disabled-btn,.disabled-table{pointer-events:none}.bubble-arrow,.bubble-arrow-rotate{position:absolute;border-top:45px solid #fff;border-right:45px solid transparent;border-bottom:45px solid transparent;border-left:45px solid transparent;transform:scale(.25);z-index:1051;top:-34px;left:0}.bubble-arrow-rotate{transform:rotate(-270deg)}.bubble-bg{position:fixed;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.3);z-index:1049}.tr-color-selected{background-color:rgba(52,181,229,.3)!important;transition:all .2s ease-in}.closeByClick{transition:opacity .15s linear;position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,.2);z-index:1090}
            div.dataTables_wrapper div.dataTables_filter select,div.dataTables_wrapper div.dataTables_length input,div.dataTables_wrapper div.dataTables_length select{width:auto}table.dataTable thead{cursor:pointer}div.dataTables_wrapper div.dataTables_length.d-flex.flex-row label{margin-top:1.2rem;margin-right:1rem}div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select .select-dropdown,div.dataTables_wrapper div.dataTables_length.d-flex.flex-row .select-wrapper.mdb-select span{margin-top:1rem}div.dataTables_wrapper div.dataTables_filter label,div.dataTables_wrapper div.dataTables_length label{text-align:left;font-weight:400;padding-top:.5rem;padding-bottom:.5rem}div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_paginate{font-weight:400;padding-top:1rem;padding-bottom:1rem}div.dataTables_wrapper div.dataTables_filter{text-align:right}div.dataTables_wrapper div.dataTables_filter input{width:auto;margin-left:.5rem;display:inline-block}div.dataTables_wrapper div.dataTables_paginate{text-align:right;margin:0}div.dataTables_wrapper div.dataTables_paginate ul.pagination{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus{background-color:#4285f4}div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item .page-link:focus{-webkit-box-shadow:none;box-shadow:none}@media (max-width:767px){div.dataTables_wrapper div .dataTables_filter,div.dataTables_wrapper div .dataTables_info,div.dataTables_wrapper div .dataTables_length,div.dataTables_wrapper div .dataTables_paginate ul.pagination{text-align:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}}.bs-select select{display:inline-block!important}table.dataTable thead>tr>td.sorting,table.dataTable thead>tr>td.sorting_asc,table.dataTable thead>tr>td.sorting_desc,table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>th.sorting_asc,table.dataTable thead>tr>th.sorting_desc{padding-right:30px}table.dataTable thead>tr>td:active,table.dataTable thead>tr>th:active{outline:0}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_desc_disabled{cursor:pointer;position:relative}table.dataTable thead .sorting:after,table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc_disabled:after,table.dataTable thead .sorting_desc_disabled:before{position:absolute;bottom:.9em;display:block;opacity:.3}table.dataTable thead .sorting:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_desc_disabled:before{right:1em;content:"\f0de";font-family:'Font Awesome\ 5 Free';font-weight:900;font-size:1rem}table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_asc_disabled:after,table.dataTable thead .sorting_desc:after,table.dataTable thead .sorting_desc_disabled:after{content:"\f0dd";font-family:'Font Awesome\ 5 Free';font-weight:900;right:16px;font-size:1rem}table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting_desc:after{opacity:1}table.dataTable thead .sorting_asc_disabled:before,table.dataTable thead .sorting_desc_disabled:after{opacity:0}

        </style>
        <link rel='dns-prefetch' href='//chimpstatic.com' />
        <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="icon" href="https://raw.githubusercontent.com/dukei/any-balance-providers/9a275900b25bed8213310ed5289d5d3d1a9189f7/providers/ab-internet-ellcom/icon.png">

        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/12.0.0-1\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/mdbootstrap.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.2.1"}};
            !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56424,55356,57342,8205,55358,56605,8205,55357,56424,55356,57340],[55357,56424,55356,57342,8203,55358,56605,8203,55357,56424,55356,57340]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>


        <link rel="stylesheet" type="text/css" href="asset/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="asset/fonts/font-awesome-4.7.0/css/font-awesome.css">

        <link rel='stylesheet' id='wp-block-library-css'  href='https://mdbootstrap.com/wp-includes/css/dist/block-library/style.min.css?ver=5.2.1' type='text/css' media='all' />
        <link rel='stylesheet' id='wc-block-style-css'  href='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/css/blocks/style.css?ver=3.6.4' type='text/css' media='all' />
        <link rel='stylesheet' id='contact-form-7-css'  href='https://mdbootstrap.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.1.3' type='text/css' media='all' />
        <style id='woocommerce-inline-inline-css' type='text/css'>
            .woocommerce form .form-row .required { visibility: visible; }
        </style>
        <link rel='stylesheet' id='wsl-widget-css'  href='https://mdbootstrap.com/wp-content/plugins/wordpress-social-login/assets/css/style.css?ver=5.2.1' type='text/css' media='all' />
        <link rel='stylesheet' id='compiled.css-css'  href='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.8.2.min.css?ver=4.8.2' type='text/css' media='all' />

        <script type='text/javascript'>
            /* <![CDATA[ */
            var ajax_auth_object = {"ajaxurl":"https:\/\/mdbootstrap.com\/wp-admin\/admin-ajax.php","redirecturl":"https:\/\/mdbootstrap.com","loadingmessage":"Sending user info, please wait..."};
            /* ]]> */
        </script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var shareCountsData = {"oldShareCounts":""};
            /* ]]> */
        </script>

        <!-- Push Notifications user -->

        <script>

            var wp_ajaxurl = "https://mdbootstrap.com/wp-admin/admin-ajax.php";
            var pnu = true;

        </script>

        <!--/.Push Notifications user -->


        <!-- Google Tag Manager for WordPress by gtm4wp.com -->
        <script data-cfasync="false" type="text/javascript">//<![CDATA[
            // dataLayer.push({"customerTotalOrders":0,"customerTotalOrderValue":"0.00","customerFirstName":"","customerLastName":"","customerBillingFirstName":"","customerBillingLastName":"","customerBillingCompany":"","customerBillingAddress1":"","customerBillingAddress2":"","customerBillingCity":"","customerBillingPostcode":"","customerBillingCountry":"","customerBillingEmail":"","customerBillingPhone":"","customerShippingFirstName":"","customerShippingLastName":"","customerShippingCompany":"","customerShippingAddress1":"","customerShippingAddress2":"","customerShippingCity":"","customerShippingPostcode":"","customerShippingCountry":""});//]]>
        </script>
        <script data-cfasync="false">//<![CDATA[
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.'+'js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W7MBMN');//]]>
        </script>
        <!-- End Google Tag Manager -->
        <!-- End Google Tag Manager for WordPress by gtm4wp.com --><meta name="referrer" content="always"/>	<noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
        <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

        <link rel="apple-touch-icon-precomposed" href="https://mdbootstrap.com/wp-content/uploads/2016/11/cropped-ms-icon-310x310-180x180.png" />
        <meta name="msapplication-TileImage" content="https://mdbootstrap.com/wp-content/uploads/2016/11/cropped-ms-icon-310x310-270x270.png" />
        <script type="text/javascript">
            var woocs_is_mobile = 0;
            var woocs_drop_down_view = "ddslick";
            var woocs_current_currency = {"name":"EUR","rate":1,"symbol":"&euro;","position":"left_space","is_etalon":0,"hide_cents":1,"decimals":0,"description":"European Euro","flag":"https:\/\/mdbootstrap.com\/wp-content\/plugins\/woocommerce-currency-switcher\/img\/no_flag.png"};
            var woocs_default_currency = {"name":"USD","rate":1,"symbol":"&#36;","position":"left","is_etalon":1,"hide_cents":1,"decimals":0,"description":"USA dollar","flag":"https:\/\/mdbootstrap.com\/wp-content\/plugins\/woocommerce-currency-switcher\/img\/no_flag.png"};
            var woocs_array_of_get = '{}';

            woocs_array_no_cents = '["JPY","TWD"]';

            var woocs_ajaxurl = "https://mdbootstrap.com/wp-admin/admin-ajax.php";
            var woocs_lang_loading = "loading";
            var woocs_shop_is_cached =0;
        </script>
        <script> var currency = '€'; </script>
        <meta name="p:domain_verify" content="ba4bb1f26dcf05eadc4ea92722eca381"/>


        <!-- Ahref verification -->
        <meta name="ahrefs-site-verification" content="cd945a30a32beb9f20f22626c5f801f2063a726c6fd9af1db55ce27eafaa1e45">

</head>

<header>

        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 mdb-sidenav fixed">
            <ul class="custom-scrollbar list-unstyled" style="max-height:100vh; padding-bottom:90px">
                <!-- Logo -->
                <li class="logo-sn d-block waves-effect">
                    <div class="text-center">
                        <a class="pl-0" href="/"><img id="MDB-logo" src="https://raw.githubusercontent.com/dukei/any-balance-providers/9a275900b25bed8213310ed5289d5d3d1a9189f7/providers/ab-internet-ellcom/icon.png" alt="ELLCO Logo"></a>
                    </div>
                </li>
                <!--/. Logo -->
                <!--Search Form-->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!--/.SideNav-->

        <!-- Navbar-->
        <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i><span class="sr-only" aria-hidden="true">Toggle side navigation</span></a>
            </div>
            <!-- Navbar links-->

            <!--Navigation icons-->
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                {% if is_granted('ROLE_USER') %}
                <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light" href=" {{ path('logout') }}">Log Out
                    <i class="fas fa-sign-in-alt ml-2"></i>
                </a>

                {% else %}
                    <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light" href=" {{ path('login') }}">Log In
                        <i class="fas fa-sign-in-alt ml-2"></i>
                    </a>
                {% endif %}
                <!-- Login / register -->

            </ul>
        </nav>
        <!-- /.Navbar-->
    </header>

<body class="fixed-sn mdb-skin-custom" data-spy="scroll" data-target="#scrollspy" data-offset="15">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/4.8.2/compiled.1.min.js?ver=4.8.2'></script>
<style>
        .main-tabs-docs .nav-mtd {
            white-space: nowrap;
            overflow-x: auto;
            position: relative; }
        @media (min-width: 62rem) {
            .main-tabs-docs .nav-mtd {
                overflow-x: hidden; } }
        .main-tabs-docs .nav-mtd li a {
            display: block;
            padding: 20px 24px;
            font-size: 13px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
            text-align: center;
            -webkit-border-radius: 0;
            border-radius: 0;
            font-weight: 500;
            border-bottom: 3px solid #33b5e5; }
        .main-tabs-docs .nav-mtd li a.active {
            border-bottom: 3px solid;
            color: #fff; }
        @media (min-width: 62em) {
            .main-tabs-docs .nav-mtd li:first-child {
                margin-left: 56px; } }

        .documentation .primary-heading {
            font-size: 2.7rem;
            font-weight: 500; }

        .documentation .secondary-heading {
            font-size: 1.5rem;
            font-weight: 500;
            color: #444343;
            overflow: hidden;
            padding-bottom: .3rem;
            margin-bottom: .7rem; }

        .documentation .section-heading {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1.4rem; }

        .documentation .docs-pills {
            margin-top: 1.4rem; }

        .documentation .section-preview {
            border: 1px solid #e0e0e0;
            padding: 15px; }

        @media only screen and (max-width: 991px) {
            .sticky, .sticky2, .sticky3,
            .sticky-placeholder {
                display: none;
            }
        }


    </style>

<script>
        "use strict";function _toConsumableArray(arr){return _arrayWithoutHoles(arr)||_iterableToArray(arr)||_nonIterableSpread()}function _nonIterableSpread(){throw new TypeError("Invalid attempt to spread non-iterable instance")}function _iterableToArray(iter){if(Symbol.iterator in Object(iter)||"[object Arguments]"===Object.prototype.toString.call(iter))return Array.from(iter)}function _arrayWithoutHoles(arr){if(Array.isArray(arr)){for(var i=0,arr2=new Array(arr.length);i<arr.length;i++)arr2[i]=arr[i];return arr2}}!function($){$.fn.mdbEditor=function(options){var addSomeClasses=function addSomeClasses(e,classes){return e.addClass(classes)},defaultsFx=function defaultsFx(e,type,element,property){$(e).find("table ".concat(type)).css(element,property)},defaults={headerLength:6,evenTextColor:"#000",oddTextColor:"#000",bgEvenColor:"",bgOddColor:"",thText:"",thBg:"",modalEditor:!1,bubbleEditor:!1,contentEditor:!1,rowEditor:!1,bubblePositionX:80,bubblePositionY:0};return options=$.extend(defaults,options),this.map(function(i,e){var $tableId=$("#".concat($(e).closest(".wrapper-editor").find("table tbody").parent().attr("id"))),$DataTable=$tableId.DataTable(),$wrapperEditor=$tableId.closest(".wrapper-editor"),editorOptions={headerLength:options.headerLength,evenTextColor:options.evenTextColor,oddTextColor:options.oddTextColor,bgEvenColor:options.bgEvenColor,bgOddColor:options.bgOddColor,thText:options.thText,thBg:options.thBg,modalEditor:options.modalEditor,rowEditor:options.rowEditor,bubbleEditor:options.bubbleEditor,contentEditor:options.contentEditor,bubblePositionX:options.bubblePositionX,bubblePositionY:options.bubblePositionY},startedStyleFunction=function startedStyleFunction(){defaultsFx($wrapperEditor,"tr.even","color",_toConsumableArray(editorOptions.evenTextColor).join("")),defaultsFx($wrapperEditor,"tr.odd","color",_toConsumableArray(editorOptions.oddTextColor).join("")),defaultsFx($wrapperEditor,"tr.even","background-color",_toConsumableArray(editorOptions.bgEvenColor).join("")),defaultsFx($wrapperEditor,"tr.odd","background-color",_toConsumableArray(editorOptions.bgOddColor).join("")),defaultsFx($wrapperEditor,"th","color",_toConsumableArray(editorOptions.thText).join("")),defaultsFx($wrapperEditor,"th","background-color",_toConsumableArray(editorOptions.thBg).join(""))},sortingTable=function sortingTable(){startedStyleFunction()};if(startedStyleFunction(),$wrapperEditor.find("table th, .dataTables_paginate").on("click",sortingTable),!0===options.modalEditor){var $selectedRow,$createShowP=$wrapperEditor.find(".createShowP"),$buttonEdit=$wrapperEditor.find(".buttonEdit"),$buttonDelete=$wrapperEditor.find(".buttonDelete"),$buttonAddFormWrapper=$wrapperEditor.find(".buttonAddFormWrapper"),$buttonEditWrapper=$wrapperEditor.find(".buttonEditWrapper"),$editInsideWrapper=$wrapperEditor.find(".editInsideWrapper"),$deleteButtonsWrapper=$wrapperEditor.find(".deleteButtonsWrapper"),editInside=$wrapperEditor.find(".editInside"),trColorSelected=".tr-color-selected",addNewRows=function addNewRows(){for(var $newRow=[],_i=0;_i<editorOptions.headerLength;_i++)$newRow.push($wrapperEditor.find(".addNewInputs input").eq(_i).val());$DataTable.row.add($newRow).draw()},btnToModalAdd=function btnToModalAdd(){$wrapperEditor.find(".addNewInputs input").removeClass("valid").val(""),$wrapperEditor.find(".addNewInputs label").removeClass("active")},addColorToTr=function addColorToTr(e){return $(e.target).parent().not("thead tr").not("tfoot tr").toggleClass("tr-color-selected").siblings().removeClass("tr-color-selected")},toggleDisabledToButtons=function toggleDisabledToButtons(e){$selectedRow=$(e.target).parent(),$(e.target).parent().not("thead tr").not("tfoot tr").hasClass("tr-color-selected")?($buttonEdit.prop("disabled",!1),$buttonDelete.prop("disabled",!1),$createShowP.html("1 row selected")):$("tr").hasClass("tr-color-selected")||($buttonEdit.prop("disabled",!0),$buttonDelete.prop("disabled",!0),$createShowP.html("0 row selected"))},buttonEditInput=function buttonEditInput(){for(var _i2=0;_i2<editorOptions.headerLength;_i2++)$DataTable.row($wrapperEditor.find(".modalEditClass input").eq(_i2).val($DataTable.cell($selectedRow,_i2).data()))},addClassActiveToLabel=function addClassActiveToLabel(){for(var _i3=0;_i3<editorOptions.headerLength;_i3++)""!==$wrapperEditor.find(".modalEditClass input").eq(_i3).val()&&$wrapperEditor.find(".modalEditClass label").eq(_i3).addClass("active")},buttonEditInside=function buttonEditInside(){for(var _i4=0;_i4<editorOptions.headerLength;_i4++)$DataTable.cell($(trColorSelected).find("td").eq(_i4)).data($wrapperEditor.find(".modalEditClass input").eq(_i4).val())},removeColorClassFromTr=function removeColorClassFromTr(){return $wrapperEditor.find(".tr-color-selected").removeClass("tr-color-selected")},disabledButtons=function disabledButtons(){$buttonEdit.prop("disabled",!0),$buttonDelete.prop("disabled",!0)},selectedZeroRowsNews=function selectedZeroRowsNews(){$createShowP.html("0 row selected"),$DataTable.draw(!1)},buttonDeleteYes=function buttonDeleteYes(){$buttonEdit.prop("disabled",!0),$buttonDelete.prop("disabled",!0),$createShowP.html("0 row selected"),$DataTable.row($(trColorSelected)).remove().draw()},bindEvents=function bindEvents(){$buttonAddFormWrapper.on("click",".buttonAdd",addNewRows),$wrapperEditor.on("click","tr",addColorToTr),$wrapperEditor.on("click","tr",toggleDisabledToButtons),$buttonEditWrapper.on("click",$buttonEdit,buttonEditInput),$buttonEditWrapper.on("click",$buttonEdit,addClassActiveToLabel),$deleteButtonsWrapper.on("click",".btnYesClass",buttonDeleteYes),$editInsideWrapper.on("click",editInside,buttonEditInside),$editInsideWrapper.on("click",editInside,removeColorClassFromTr),$editInsideWrapper.on("click",editInside,disabledButtons),$editInsideWrapper.on("click",editInside,selectedZeroRowsNews),$(".wrapperToBtnModalAdd").on("click",".btnToModalAdd",btnToModalAdd)};$wrapperEditor.find(".modalEditClass").on("keypress",function(e){13===e.which&&(buttonEditInside(editInside),$(editInside).trigger("click"),removeColorClassFromTr(),disabledButtons(),selectedZeroRowsNews())}),$wrapperEditor.find(".addNewInputs").on("keypress",function(e){13===e.which&&$(".buttonAdd").click()}),$wrapperEditor.find(".modalDeleteTarget").on("keypress",function(e){13===e.which&&$(".btnYesClass").click()}),bindEvents()}if(!0===options.rowEditor){var editRow=".editRow",saveRow=".saveRow",tdLast="td:last",$removeColumns=$(".removeColumns"),addNewColumn=".addNewColumn",$buttonWrapper=$(".buttons-wrapper"),$closeByClick=$(".closeByClick"),$showForm=$(".showForm");$wrapperEditor.find(".buttons-wrapper button").prop("disabled",!1);var addNewTr=function addNewTr(e){$(e.target).parents().eq(1).map(function(i,event){$(event).find("tr").map(function(i,ev){$(ev).find(tdLast).not(".td-editor").after('<td class="text-center td-editor" style="border-top: 1px solid #dee2e6; border-bottom:1px solid #dee2e6"><button class="btn btn-sm editRow btn-sm btn-teal"><i class="far fa-edit"></i></button></td>')})})},removeDisabledButtons=function removeDisabledButtons(){var $removeColumns=$wrapperEditor.find(".removeColumns");$wrapperEditor.find("td").hasClass("td-editor")&&$removeColumns.prop("disabled",!1)},editRowAndAddClassToTr=function editRowAndAddClassToTr(e){for(var $closestTrTd=$(e.target).closest(".wrapper-editor tr").find("td"),$closestTrEdit=$(e.target).closest(".wrapper-editor tr").find(editRow),divWrapper='<div class="d-flex justify-content-center div-to-remove"></div>',editButton='<td class="text-center td-editor td-yes" style="border:none"><button class="btn btn-sm btn-danger deleteRow" style="cursor:pointer;"><i class="fas fa-trash-alt"></i></b></td>',saveButton='<td class="text-center td-editor td-yes" style="border:none"><button class="btn btn-sm btn-primary saveRow" style="cursor:pointer;"><i class="fas fa-check"></i></button></td>',_i5=0;_i5<editorOptions.headerLength;_i5++)$closestTrTd.eq(_i5).html('<input type="text" class="val'.concat(_i5,' form-control" value="').concat($closestTrTd.eq(_i5).text(),'">'));$closestTrEdit.after($(divWrapper).append(saveButton,editButton)),$wrapperEditor.on("click",".deleteRow",function(){$wrapperEditor.find(".showForm, .closeByClick").removeClass("d-none")})},clickBtnCBCaddDnone=function clickBtnCBCaddDnone(e){addSomeClasses($(e.target),"d-none"),addSomeClasses($showForm,"d-none")},addDnoneByClickBtns=function addDnoneByClickBtns(){addSomeClasses($closeByClick,"d-none"),addSomeClasses($showForm,"d-none")},addColorClassAndPy=function addColorClassAndPy(e){var $closestTr=$(e.target).closest("tr");addSomeClasses($closestTr,"tr-color-selected"),addSomeClasses($closestTr.find("td").not(".td-editor"),"py-5")},addDisabledButtonsByEditBtn=function addDisabledButtonsByEditBtn(e){$(e.target).prop("disabled",!0),$(e.target).closest(".wrapper-editor").find($removeColumns).prop("disabled",!0)},saveRowAndRemovePy=function saveRowAndRemovePy(e){for(var $closestTr=$(e.target).closest("tr"),_i6=0;_i6<editorOptions.headerLength;_i6++)$DataTable.cell($closestTr.find("td").eq(_i6)).data($closestTr.find(".val"+_i6).val());$closestTr.find("td").removeClass("py-5")},removeDisabledColorAdnTdYes=function removeDisabledColorAdnTdYes(e){var $closestTr=$(e.target).closest("tr");$closestTr.find(editRow).prop("disabled",!1),$closestTr.removeClass("tr-color-selected"),$closestTr.find(".td-yes").remove(),$DataTable.draw(!1),$wrapperEditor.find("tbody tr").hasClass("tr-color-selected")||$wrapperEditor.find(".removeColumns").prop("disabled",!1)},saveRowClickRemoveDiv=function saveRowClickRemoveDiv(){$(this).find(".div-to-remove").remove()},removeColorInTrAndDraw=function removeColorInTrAndDraw(){$DataTable.row($wrapperEditor.find("tr.tr-color-selected")).remove().draw(!1),$wrapperEditor.find("tbody tr").hasClass("tr-color-selected")?$wrapperEditor.find($removeColumns).prop("disabled",!0):$wrapperEditor.find($removeColumns).prop("disabled",!1)},removeSelectedButtonsFromRow=function removeSelectedButtonsFromRow(){if($wrapperEditor.find("tbody tr").hasClass("tr-color-selected"))return $wrapperEditor.find(".removeColumns").attr("disabled",!0),!1;$wrapperEditor.find(".td-editor").remove(),$wrapperEditor.find(".tr-color-selected").remove(),$DataTable.draw(!1)},_bindEvents;(function _bindEvents(){$buttonWrapper.on("click",addNewColumn,addNewTr),$buttonWrapper.on("click",addNewColumn,removeDisabledButtons),$wrapperEditor.on("click",editRow,editRowAndAddClassToTr),$wrapperEditor.on("click",editRow,addColorClassAndPy),$wrapperEditor.on("click",editRow,addDisabledButtonsByEditBtn),$wrapperEditor.on("click",saveRow,saveRowAndRemovePy),$wrapperEditor.on("click",saveRow,removeDisabledColorAdnTdYes),$wrapperEditor.on("click",saveRow,saveRowClickRemoveDiv),$(".buttonYesNoWrapper").on("click",".btnYes",removeColorInTrAndDraw),$buttonWrapper.on("click",".removeColumns",removeSelectedButtonsFromRow),$showForm.on("click",".btnYes, .button-x, .btnNo",addDnoneByClickBtns),$closeByClick.on("click",clickBtnCBCaddDnone)})(),!0===$closeByClick.hasClass("d-none")&&$(document).keyup(function(e){27===e.keyCode&&(addSomeClasses($closeByClick,"d-none"),addSomeClasses($showForm,"d-none"))}),$wrapperEditor.find(".buttons-wrapper").on("click",".addNewRows",function(e){for(var $newRow=[],_i7=0;_i7<editorOptions.headerLength;_i7++)$newRow.push($(e.target).val());$("#".concat($(e.target).closest(".wrapper-editor").find("table").attr("id"))).DataTable().row.add($newRow).draw()})}if(!0===options.contentEditor){$wrapperEditor.find("table tbody").addClass("disabled-table");var toggleBtnAndInputs=function toggleBtnAndInputs(){$wrapperEditor.find("tbody").toggleClass("disabled-table"),$(this).find(".fa-toggle-off").toggleClass("fa-toggle-on"),$wrapperEditor.find("table tbody").hasClass("disabled-table")?$wrapperEditor.find("input").prop("disabled",!0):$wrapperEditor.find("input").prop("disabled",!1)},clickOnTd=function clickOnTd(ev){var focusInput=function focusInput(e){return $(e).focus()},$this=$(this),$eTarget=$(ev.target),$dtHeadTitle=$($wrapperEditor.find("thead th")[$DataTable.cell($this).index().column]).text().replace(/\s/g,"").toLowerCase();if("".concat($dtHeadTitle).includes("date")&&!$this.children().hasClass("mdb-content-dynamic-input")?($this.html("<input type='date' class='form-control mdb-content-dynamic-input' value='".concat($this.text(),"'/> <span class='d-none dynamic-span'>").concat($this.text(),"</span>")),focusInput(".mdb-content-dynamic-input")):$this.children().hasClass("mdb-content-dynamic-input")||($this.html("<input type='text' class='form-control mdb-content-dynamic-input' value='".concat($this.text(),"'/> <span class='d-none dynamic-span'>").concat($this.text(),"</span>")),focusInput(".mdb-content-dynamic-input")),$wrapperEditor.find("td").children().length>2){var $dtData=$wrapperEditor.find(".mdb-content-dynamic-input").parent().not($eTarget).html($wrapperEditor.find(".mdb-content-dynamic-input").not($eTarget.children()).val());$DataTable.cell($dtData).data($dtData.text()).draw(),focusInput(".mdb-content-dynamic-input")}},keyupEvents=function keyupEvents(ev){var $evTarget=$(ev.target);13===ev.which&&$DataTable.cell($evTarget.parent()).data($evTarget.val()).draw(!0),27===ev.which&&$DataTable.cell($evTarget.parent()).data($evTarget.next().text()).draw(!0)},saveTdWhenSorting=function saveTdWhenSorting(){for(var $DataTableNodeTd=$DataTable.column($(this)).nodes(),_i8=0;_i8<$DataTableNodeTd.length;_i8++)$($DataTableNodeTd[_i8]).children().length>1&&$DataTable.cell($DataTableNodeTd[_i8]).data($($DataTableNodeTd[_i8]).children().closest(".mdb-content-dynamic-input").val()).draw(!0)},_addNewRows=function _addNewRows(){for(var $newRow=[],_i9=0;_i9<options.headerLength;_i9++)$newRow.push($wrapperEditor.find("thead th").eq(_i9).val());$wrapperEditor.find("tbody td").hasClass("disabled-table")?$($DataTable.row.add($newRow).draw(!0).nodes()).children().addClass("disabled-table"):$DataTable.row.add($newRow).draw(!0)},removeFirstRowOrSelected=function removeFirstRowOrSelected(){$wrapperEditor.find(".mdb-content-dynamic-input").length>0?$DataTable.row($($wrapperEditor.find(".mdb-content-dynamic-input").parents().eq(1))).remove().draw(!0):$DataTable.row().remove().draw(!0)},_bindEvents2;(function _bindEvents2(){$wrapperEditor.find(".buttons-wrapper").on("click",".add-content-edit",toggleBtnAndInputs),$wrapperEditor.find("table").not("thead, tfoot").on("click","td",clickOnTd),$wrapperEditor.not("thead, tfoot").on("keyup click",".mdb-content-dynamic-input",keyupEvents),$wrapperEditor.find(".buttons-wrapper").on("click",".remove-first-tr",removeFirstRowOrSelected),$wrapperEditor.find(".buttons-wrapper").on("click",".add-new-row",_addNewRows),$wrapperEditor.on("click","thead th",saveTdWhenSorting)})()}if(!0===options.bubbleEditor){$wrapperEditor.find(".buttons-wrapper button").prop("disabled",!1);var nth=["","Second ","Third ","Fourth ","Fifth ","Sixth ","Seventh ","Eighth","Ninth ","Tenth ","Eleventh ","Twelth ","Thirteen ","Fourteenth ","Fifteenth ","Sixteenth","Seventeenth","Eighteenth","Nineteenth"],$bubbleMainDiv=$("<div>",{class:"m-3 bubble-main d-flex-not-important flex-column"}),$document=$(document),inWords=function inWords(num){if((num=num.toString()).length>9)return"overflow";var n=("000000000"+num).substr(-9).match(/^(\d{2})(\d{2})(\d{2})(\d{1})(\d{2})$/);if(n){var str="";return str+=0!=n[5]?(""!=str?"and ":"")+(nth[Number(n[5])]||[n[5][0]]+" "+nth[n[5][1]]):""}};$wrapperEditor.find(".buttons-wrapper").on("click",".add-bubble-edit",function(){var $this=$(this);$this.children().hasClass("fa-toggle-off")?($this.not(".fas").html('<i class="fas fa-toggle-on ml-1"></i>'),$wrapperEditor.find("table tbody").removeClass("disabled-table"),$wrapperEditor.find("table td").addClass("bubble-td-cursor"),$wrapperEditor.find("table").not("thead, tfoot").on("click","td",function(ev){var $evTarget=$(ev.target),$dtHeadColumText=$($wrapperEditor.find("table thead th")[$DataTable.cell($evTarget).index().column]).text().replace(/\s/g,""),bubbleMainClass="m-3 p-2 d-flex-not-important justify-content-center flex-column text-left bubble-inside",btnUpadteWithWrapper="<div class='wrapper-btn-bubble-update text-center'><button class='btn btn-sm btn-rounded btn-primary mt-3 btn-bubble-update'>Update <i class='ml-1 far fa-edit'></i></button><button class='btn btn-sm btn-rounded btn-danger mt-3 btn-bubble-clear'>Clear <i class=\"fas fa-eraser\"></i></button></div>",labelWithColumText="<label>".concat($dtHeadColumText,":</label>");if($evTarget.html().match(/^\s*\d[\d,\.]*\s*$/))$bubbleMainDiv.html($("<div>",{class:bubbleMainClass,html:"".concat(labelWithColumText,"<input type='number' class='text-left form-control' value='").concat($evTarget.text(),"'> ").concat(btnUpadteWithWrapper)}));else if("'".concat($dtHeadColumText.toLowerCase(),"'").includes("date"))$bubbleMainDiv.html($("<div>",{class:bubbleMainClass,html:"".concat(labelWithColumText,"<input type='date' class='text-left form-control' value='").concat($evTarget.text(),"'> ").concat(btnUpadteWithWrapper)}));else if("'".concat($dtHeadColumText.toLowerCase(),"'").includes("name")&&$evTarget.text().split(" ").length>=1){for(var $divToMainClass=$("<div class='".concat(bubbleMainClass,"'></div>")),_i10=0;_i10<$evTarget.text().split(" ").length;_i10++)$($bubbleMainDiv.html($divToMainClass.append("<div class='d-flex flex-column wrapper-bubble-label-input'><label class='mt-2 mb-1'>".concat(inWords(_i10)," ").concat($dtHeadColumText,":</label><div class='d-flex'><input type='text' class='text-left form-control' value='").concat($evTarget.text().split(" ").filter(function(i){return i}).splice(_i10,1).toString(),"'><span class='ml-2 wrapper-bubble-input-delete d-flex'><i class='fas fa-plus-circle blue-text bubble-input-add-icon mt-2 mr-1'></i><i class='fas fa-minus-circle red-text bubble-input-delete-icon mt-2'></i></span></div></div>")))).appendTo(btnUpadteWithWrapper),$(".bubble-inside").append(btnUpadteWithWrapper);$bubbleMainDiv.find("label:last").html("Last ".concat($dtHeadColumText,":")),$bubbleMainDiv.find("label:first").html("First ".concat($dtHeadColumText,":")),$divToMainClass.append(btnUpadteWithWrapper)}else $bubbleMainDiv.html($("<div>",{class:bubbleMainClass,html:"<label>".concat($dtHeadColumText,":</label><input type='text' class='text-left form-control' value='").concat($evTarget.text(),"'> ").concat(btnUpadteWithWrapper)}));$('<div class ="bubble-bg"></div>').appendTo("body"),$('<div class ="bubble-arrow"></div>').prependTo($wrapperEditor),$('<span class="text-right position-absolute bubble-span-close" style="top:-8px; right:-8px;"><i class="fas fa-times-circle"></i></span>').prependTo($('<button type="button" class="close text-right bubble-button-x"></button>').prependTo($bubbleMainDiv.prependTo($wrapperEditor)));var $wrapperBtnBubbleUpdate=$(".wrapper-btn-bubble-update"),$wrapperBubbleInputDelete=$(".wrapper-bubble-input-delete"),$bubbleBg=$(".bubble-bg"),$bubbleMain=$(".bubble-main"),$bubbleArrow=$(".bubble-arrow");$evTarget.addClass("tr-color-selected"),$bubbleMain.css({top:ev.pageY-options.bubblePositionX,left:ev.pageX-options.bubblePositionY}),$document.find(".bubble-bg").length>1&&$bubbleBg.not(":last").remove(),$wrapperEditor.find(".bubble-arrow").length>1&&$bubbleArrow.not(":last").remove();var removeBubbleDarkBg=function removeBubbleDarkBg(e){return $(e.target).remove()},removeArrowAndMain=function removeArrowAndMain(){return $(".bubble-main, .bubble-arrow").remove()},removeColorClassFromTd=function removeColorClassFromTd(){return $evTarget.removeClass("tr-color-selected")},takeDataTdIfHasColor=function takeDataTdIfHasColor(e){var $eTarget=$(e.target);if($evTarget.hasClass("tr-color-selected")&&"".concat($dtHeadColumText.toLowerCase()).includes("name")){for(var $new=[],$eventInputs=$eTarget.parent().parent().find("input"),_i11=0;_i11<$eventInputs.length;_i11++)$new.push($eventInputs.eq(_i11).val());$DataTable.cell($evTarget).data($new.toString().split(",").filter(function(i){return i}).join(" ")).draw()}else $evTarget.hasClass("tr-color-selected")&&$DataTable.cell($evTarget).data($eTarget.parent().prev().val()).draw()},findBubbleBgAddRemove=function findBubbleBgAddRemove(){return $document.find(".bubble-bg").remove()},btnUpdateRemoveArrowMain=function btnUpdateRemoveArrowMain(){return removeArrowAndMain()},removeColorFromTr=function removeColorFromTr(){return removeColorClassFromTd()},bubbleSpanRemove=function bubbleSpanRemove(){removeArrowAndMain(),removeColorClassFromTd(),findBubbleBgAddRemove()},btnClearInputs=function btnClearInputs(e){return $(e.target).parents().eq(1).find("input").val("")},keyupEvents=function keyupEvents(e){27===e.keyCode&&(removeArrowAndMain(),removeColorClassFromTd(),findBubbleBgAddRemove()),13===e.keyCode&&$wrapperEditor.find(".btn-bubble-update").click()},deleteClosestInputLabel=function deleteClosestInputLabel(e){$wrapperEditor.find(".bubble-inside input").length>1&&$(e.target).closest(".wrapper-bubble-label-input").remove(),$wrapperEditor.find(".wrapper-bubble-input-delete").first().children().length<2&&$wrapperEditor.find(".wrapper-bubble-input-delete").first().prepend("<i class='fas fa-plus-circle blue-text bubble-input-add-icon mt-2 mr-1'></i>")},addNewInput=function addNewInput(e){var $eTarget=$(e.target),$clondeDiv=$eTarget.parents().eq(2).clone(!0);$clondeDiv.insertAfter($eTarget.parents().eq(2)),$clondeDiv.addClass("cloned"),$clondeDiv.find("label").html("New Input:"),$clondeDiv.find("input").val(""),$clondeDiv.find(".wrapper-bubble-input-delete .fa-plus-circle").remove()},bindTdEvents;(function bindTdEvents(){$bubbleBg.on("click",removeBubbleDarkBg),$bubbleBg.on("click",removeArrowAndMain),$bubbleBg.on("click",removeColorClassFromTd),$wrapperBtnBubbleUpdate.on("click",".btn-bubble-update",takeDataTdIfHasColor),$wrapperBtnBubbleUpdate.on("click",".btn-bubble-update",findBubbleBgAddRemove),$wrapperBtnBubbleUpdate.on("click",".btn-bubble-update",btnUpdateRemoveArrowMain),$wrapperBtnBubbleUpdate.on("click",".btn-bubble-update",removeColorFromTr),$wrapperBtnBubbleUpdate.on("click",".btn-bubble-clear",btnClearInputs),$(".bubble-button-x").on("click",".bubble-span-close",bubbleSpanRemove),$wrapperBubbleInputDelete.on("click",".bubble-input-add-icon",addNewInput),$wrapperBubbleInputDelete.on("click",".bubble-input-delete-icon",deleteClosestInputLabel),$document.on("keyup",keyupEvents)})()})):($this.not(".fas").html('<i class="fas fa-toggle-off ml-1"></i>'),$wrapperEditor.find("table tbody").addClass("disabled-table"),$wrapperEditor.find("table td").not("thead, tfoot").removeClass("bubble-td-cursor"))});var _addNewRows2=function _addNewRows2(){for(var $newRow=[],_i12=0;_i12<editorOptions.headerLength;_i12++)$newRow.push($wrapperEditor.find("table thead th").eq(_i12).val());$DataTable.row.add($newRow).draw(!0)},removeFirstTr=function removeFirstTr(){return $DataTable.row().remove().draw(!0)};$wrapperEditor.find(".buttons-wrapper").on("click",".removeFirstTr",removeFirstTr),$wrapperEditor.find(".buttons-wrapper").on("click",".addNewRow",_addNewRows2)}})}}(jQuery);

        $('#dtBasicExample, #dt-more-columns, #dt-less-columns').mdbEditor({
            modalEditor: true
        });

        $('#dtBasicExample-1, #dt-more-row-col, #dt-less-row-col').mdbEditor({
            rowEditor: true
        });


        let dataSet1 = [
            ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011-04-25", "$320,800"],
            ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011-07-25", "$170,750"],
            ["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009-01-12", "$86,000"],
            ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012-03-29", "$433,060"],
            ["Airi", "Accountant", "Tokyo", "5407", "2008-11-28", "$162,700"],
            ["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012-12-02",
                "$372,000"
            ],
            ["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012-08-06", "$137,500"],
            ["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010-10-14", "$327,900"],
            ["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009-09-15", "$205,500"],
            ["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008-12-13", "$103,600"],
            ["Jena Gaines", "Office Manager", "London", "3814", "2008-12-19", "$90,560"],
            ["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013-03-03", "$342,000"],
            ["Charde Marshall", "Regional Director", "San Francisco", "6741", "2008-10-16", "$470,600"],
            ["Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012-12-18", "$313,500"],
            ["Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010-03-17", "$385,750"],
            ["Michael Silva", "Marketing Designer", "London", "1581", "2012-11-27", "$198,500"],
            ["Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010-06-09", "$725,000"],
            ["Gloria Little", "Systems Administrator", "New York", "1721", "2009-04-10", "$237,500"],
            ["Bradley Greer", "Software Engineer", "London", "2558", "2012-10-13", "$132,000"],
            ["Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012-09-26", "$217,500"],
            ["Jenette Caldwell", "Development Lead", "New York", "1937", "2011-09-03", "$345,000"],
            ["Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009-06-25", "$675,000"],
            ["Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011-12-12", "$106,450"],
            ["Doris Wilder", "Sales Assistant", "Sidney", "3023", "2010-09-20", "$85,600"],
            ["Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009-10-09", "$1,200,000"],
            ["Gavin Joyce", "Developer", "Edinburgh", "8822", "2010-12-22", "$92,575"],
            ["Jennifer Chang", "Regional Director", "Singapore", "9239", "2010-11-14", "$357,650"],
            ["Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011-06-07", "$206,850",
                "Examples"
            ],
            ["Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010-03-11", "$850,000"],
            ["Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011-08-14", "$163,000"],
            ["Michelle House", "Integration Specialist", "Sidney", "2769", "2011-06-02", "$95,400"],
            ["Suki Burks", "Developer", "London", "6832", "2009-10-22", "$114,500"],
            ["Prescott Bartlett", "Technical Author", "London", "3606", "2011-05-07", "$145,000"],
            ["Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008-10-26", "$235,500"],
            ["Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011-03-09", "$324,050"],
            ["Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009-12-09", "$85,675"]
        ];

        let dataSet = [
            ["Tiger Nixon", "System Architect", "Edinburgh", "5421", "2011-04-25", "$320,800", "Examples"],
            ["Garrett Winters", "Accountant", "Tokyo", "8422", "2011-07-25", "$170,750", "Examples"],
            ["Ashton Cox", "Junior Technical Author", "San Francisco", "1562", "2009-01-12", "$86,000", "Examples"],
            ["Cedric Kelly", "Senior Javascript Developer", "Edinburgh", "6224", "2012-03-29", "$433,060", "Examples"],
            ["Airi", "Accountant", "Tokyo", "5407", "2008-11-28", "$162,700", "Examples"],
            ["Brielle Williamson", "Integration Specialist", "New York", "4804", "2012-12-02",
                "$372,000", "Examples"
            ],
            ["Herrod Chandler", "Sales Assistant", "San Francisco", "9608", "2012-08-06", "$137,500", "Examples"],
            ["Rhona Davidson", "Integration Specialist", "Tokyo", "6200", "2010-10-14", "$327,900", "Examples"],
            ["Colleen Hurst", "Javascript Developer", "San Francisco", "2360", "2009-09-15", "$205,500", "Examples"],
            ["Sonya Frost", "Software Engineer", "Edinburgh", "1667", "2008-12-13", "$103,600", "Examples"],
            ["Jena Gaines", "Office Manager", "London", "3814", "2008-12-19", "$90,560", "Examples"],
            ["Quinn Flynn", "Support Lead", "Edinburgh", "9497", "2013-03-03", "$342,000", "Examples"],
            ["Charde Marshall", "Regional Director", "San Francisco", "6741", "2008-10-16", "$470,600", "Examples"],
            ["Haley Kennedy", "Senior Marketing Designer", "London", "3597", "2012-12-18", "$313,500", "Examples"],
            ["Tatyana Fitzpatrick", "Regional Director", "London", "1965", "2010-03-17", "$385,750", "Examples"],
            ["Michael Silva", "Marketing Designer", "London", "1581", "2012-11-27", "$198,500", "Examples"],
            ["Paul Byrd", "Chief Financial Officer (CFO)", "New York", "3059", "2010-06-09", "$725,000", "Examples"],
            ["Gloria Little", "Systems Administrator", "New York", "1721", "2009-04-10", "$237,500", "Examples"],
            ["Bradley Greer", "Software Engineer", "London", "2558", "2012-10-13", "$132,000", "Examples"],
            ["Dai Rios", "Personnel Lead", "Edinburgh", "2290", "2012-09-26", "$217,500", "Examples"],
            ["Jenette Caldwell", "Development Lead", "New York", "1937", "2011-09-03", "$345,000", "Examples"],
            ["Yuri Berry", "Chief Marketing Officer (CMO)", "New York", "6154", "2009-06-25", "$675,000", "Examples"],
            ["Caesar Vance", "Pre-Sales Support", "New York", "8330", "2011-12-12", "$106,450", "Examples"],
            ["Doris Wilder", "Sales Assistant", "Sidney", "3023", "2010-09-20", "$85,600", "Examples"],
            ["Angelica Ramos", "Chief Executive Officer (CEO)", "London", "5797", "2009-10-09", "$1,200,000", "Examples"],
            ["Gavin Joyce", "Developer", "Edinburgh", "8822", "2010-12-22", "$92,575", "Examples"],
            ["Jennifer Chang", "Regional Director", "Singapore", "9239", "2010-11-14", "$357,650", "Examples"],
            ["Brenden Wagner", "Software Engineer", "San Francisco", "1314", "2011-06-07", "$206,850",
                "Examples"
            ],
            ["Fiona Green", "Chief Operating Officer (COO)", "San Francisco", "2947", "2010-03-11", "$850,000", "Examples"],
            ["Shou Itou", "Regional Marketing", "Tokyo", "8899", "2011-08-14", "$163,000", "Examples"],
            ["Michelle House", "Integration Specialist", "Sidney", "2769", "2011-06-02", "$95,400", "Examples"],
            ["Suki Burks", "Developer", "London", "6832", "2009-10-22", "$114,500", "Examples"],
            ["Prescott Bartlett", "Technical Author", "London", "3606", "2011-05-07", "$145,000", "Examples"],
            ["Gavin Cortez", "Team Leader", "San Francisco", "2860", "2008-10-26", "$235,500", "Examples"],
            ["Martena Mccray", "Post-Sales support", "Edinburgh", "8240", "2011-03-09", "$324,050", "Examples"],
            ["Unity Butler", "Marketing Designer", "San Francisco", "5384", "2009-12-09", "$85,675", "Examples"]
        ];

        $('#ex1, #ex2, #ex3, #ex4').DataTable({
            data: dataSet,
            columns: [{
                title: "Name"
            },
                {
                    title: "Position"
                },
                {
                    title: "Office"
                },
                {
                    title: "Extn."
                },
                {
                    title: "Start date"
                },
                {
                    title: "Salary"
                },
                {
                    title: "Examples"
                }
            ]
        });


        $('#exbasic').DataTable({
            data: dataSet1,
            columns: [{
                title: "Name"
            },
                {
                    title: "Position"
                },
                {
                    title: "Office"
                },
                {
                    title: "Extn."
                },
                {
                    title: "Start date"
                },
                {
                    title: "Salary"
                }
            ]
        });

        $('#ex1').mdbEditor({
            modalEditor: true,
            headerLength: 7,
            evenTextColor: '#AbA6BF',
            oddTextColor: '#BF988F',
            bgEvenColor: '#fff',
            bgOddColor: '#EBF2EA',
            thText: '#BF988F',
            thBg: '#fff',
        });

        $('#ex2').mdbEditor({
            rowEditor: true,
            headerLength: 7,
            evenTextColor: '#00ABE6',
            oddTextColor: 'rgba(100,120,80, .6)',
            bgEvenColor: '',
            bgOddColor: '',
            thText: '#00ABE6',
            thBg: '',
        });
        $('#ex3').mdbEditor({
            contentEditor: true,
            headerLength: 7,
            evenTextColor: 'rgba(0,0,255, .4)',
            oddTextColor: 'rgba(100,140,120, .6)',
            bgEvenColor: '',
            bgOddColor: '',
            thText: '#fff',
            thBg: 'rgba(22, 66, 192, .2)',
        });
        $('#ex4').mdbEditor({
            bubbleEditor: true,
            headerLength: 7,
            evenTextColor: 'rgba(255,0,255, .4)',
            oddTextColor: 'rgba(80,160,110, .6)',
            bgEvenColor: '',
            bgOddColor: '',
            thText: '',
            thBg: '',
            bubblePositionX: 300,
            bubblePositionY: 580
        });

        $('#contentEx, #bubbleEx').DataTable({
            data: dataSet,
            columns: [{
                title: "Name"
            },
                {
                    title: "Position"
                },
                {
                    title: "Office"
                },
                {
                    title: "Extn."
                },
                {
                    title: "Start date"
                },
                {
                    title: "Salary"
                }
            ]
        });

        $('#contentEx').mdbEditor({
            contentEditor: true
        });

        $('#bubbleEx').mdbEditor({
            bubbleEditor: true,
            bubblePositionX: 300,
            bubblePositionY: 580
        });

        $('.dataTables_length').addClass('bs-select');
    </script>
</html>
