<div class="card bg-primary text-white">
  <div class="card-body">
    <h5 class="card-title">v.1.0.3 dev</h5>
    <h6 class="card-subtitle mb-2">Дата: 18.10.2019</h6>
    <div class="card-text" style="font-size:1.2em;">
        <ul class="mb-0">
            <li>Добавлена возможность удалять контактные номера у абонентов.</li>
            <li>Исправлена ошибка, при которой прерывалась загрузка информации, если не были найдены карты в Zabbix'е.</li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}<li>Добавлен столбец со списком IP адресов у пользователя.</li>{% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}<li>Исправлена ошибка удаления пользователей (проблема с foreign key у таблиц).</li>{% endif %}
            <li>У простых пользователей не показывалась кнопка "Свернуть". Исправлено.</li>
            <li>Поиск роутера абонента в ACS теперь осуществляется по MAC адресу активной сессии вместо номера договора. Соответственно, загрузка ACS начинается после того, как будет получен MAC.</li>
            <li>Исправлена ошибка, не позволяющая создавать задачи на CPE, если по каким-либо замерам не было получено данных.</li>
            <li>Предупреждающее состояние <em>Баланса</em> теперь подсвечивается корректно при наличии отрицательного лимита.</li>
        </ul>
    </div>
  </div>
</div>
